@import "../../Style.scss";

.messenger {
  @include themify($themes) {
  
    width: 89%;
    margin-left: auto;
    margin-right: auto;
    border: solid 1px;
    margin-top: 5rem;

  height: calc(100vh - 106px);
  display: flex;
}





.chatMenu {
  flex: 3;
}

.chatMenuInput{
  width: 100%;
  padding: 10px 0;
  border: none;
  border-bottom: 2px solid;
  font-size: 1rem;
  font-weight: 800;
  border-right: solid;
  border-radius: 1.2rem;
  color: rgb(39, 36, 36);
  // position: fixed;
  background-color: #00d5fa;
  // z-index: 9;
}

.chatBox {
  flex: 6;
}

.chatBoxWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.chatBoxTop {
  height: 100%;
  overflow-y: scroll;
  padding-right: 10px;
  padding-bottom: 30px;
}

.chatBoxBottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chatMessageInput {
  width: 80%;
  height: 21px;
  padding: 10px;
  border-radius: 15px;
}

.chatSubmitButton {
  width: 70px;
  height: 40px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  background-color: teal;
  margin-right: 10px;
  color: white;
}

.chatOnline {
 flex: 3; 
}
.chatMenuWrapper{
  border-right: solid 2px;
  height: 90%!important;
}
.chatMenuWrapper,
.chatBoxWrapper,
.chatOnlineWrapper {
  height: 96%;
  overflow-y: auto;
  overflow-x: hidden;
}::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #00c9bf;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #f1f5f9;
  border-radius: 1rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #e25f48;
}

.noConversationText {
  position: absolute;
  top: 50%;
  left: 35%;
  font-size: 1rem;
  color: rgb(0, 164, 185);
  cursor: default;
}

@media screen and (max-width: 768px) {
  .chatMenu {
    flex: 6;
  }

  // .chatMenuInput {
  //   display: none;
  // }

  .chatBox{
    flex: 6;
  }

  .chatOnline{
    display: none;
  }
  .msgReq{
    display: none;
  }
}
.messageImg {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;

}
.receiver{
  position: absolute;
  padding-left: 60px;
  height: 10%;
  color:#00d5fa;
  font-size: 1.2rem;
  font-weight: 700;
  background-color:rgb(39, 36, 36);
}
}
.msgReq{
  text-align: end;
    margin-right: 5rem;
    position: absolute;
    width: 79%;
    margin-top: 1rem;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}